include Cargo.lock
include Cargo.toml
recursive-include native *.rs *.toml
recursive-include contracts/golden *.json
recursive-include src/rp_ylx/deploy *.avahi *.conf *.default *.service *.sysusers *.timer *.tmpfiles rp-ylx-data-volume rp-ylx-wifi-watchdog
